body {
    background: rgb(133, 176, 133);
}

.displayed {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.displayed h1 {
    font-size: 80px;
    letter-spacing: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-right: 5px solid;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 5s steps(21),
        cursor .4s step-end infinite alternate;
}

@keyframes typing {
    to {width: min-content}
}

@keyframes cursor {
    50% {border-color: transparent}
}


