body {
    margin:0;
    height: 100vh;
    color: rgb(194, 240, 56);
    background-color: rgb(61, 43, 21);
}

.components {
    margin-top: 200px
}

h1 {
    line-height: 0.1
}

h2 {
    line-height: 0.5;
}

.background-image {
    opacity: 0.6
}